/* table-tittle */
.table-title {
  padding-bottom: 15px;
  background: #f7931e;
  color: rgb(0, 0, 0);
  min-width: 100%;
  margin: -20px -12px 30px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px -10px 0;
  font-size: 24px;
}

/* table */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  /* border-radius: 5px 5px 0 0; */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #f7931e;
  color: #ffffff;
  /* text-align: left; */
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #f7931e;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #f7931e;
}

/* pagination */

#example_paginate {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  background: linear-gradient(to bottom, #f7931e 0%, #fd8d0c 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #f7931e;
  background: linear-gradient(to bottom, #f7931e 0%, #fd8d0c 100%);
}
