/* tabel card  */
.card-box {
  position: relative;
  color: #fff;
  padding: 20px 10px 50px;
  margin: 20px 0px;
  width: 100%;
}
.card-box:hover {
  text-decoration: none;
  color: #f1f1f1;
}
.card-box:hover .icon i {
  font-size: 100px;
  transition: 1s;
  -webkit-transition: 1s;
}
.card-box .inner {
  padding: 5px 10px 0 10px;
}
.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}
.card-box p {
  font-size: 15px;
}
.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
}
.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-orange {
  background-color: #f39c12 !important;
}

/* table title */

.table-titlee {
  padding: 15px;
  background: #f7931e;
  color: rgb(0, 0, 0);
  min-width: 100%;
  margin: -20px -12px 0px;
  border-radius: 3px 3px 0 0;
}
.table-titlee h2 {
  margin: 5px -10px 0;
  font-size: 24px;
}

/* pagination */

#example_paginate {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  background: linear-gradient(to bottom, #f7931e 0%, #fd8d0c 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #f7931e;
  background: linear-gradient(to bottom, #f7931e 0%, #fd8d0c 100%);
}
