section {
    position: absolute;
    z-index: 99;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.loding {
    padding: 230px;
}

.loading07 {
    span {
        position: relative;
        padding: 6px;
        font-weight: bold;
        font-family: serif;
        color: rgba(#6e6e6e, 1);
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: attr(data-text);
            color: rgba(#ff8800, 9);
            opacity: 0;
            transform: scale(1);
            animation: loading07 3s infinite;
        }
        @for $i from 1 through 8 {
            &:nth-child(#{$i + 1})::after {
                animation-delay: #{$i * 0.1}s;
            }
        }
    }
}

@keyframes loading07 {
    0%,
    75%,
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
    25%,
    50% {
        transform: scale(1);
        opacity: 1;
    }
}