.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.bok1 {
  background-color: #eeeeee;
}

.bok2 {
  background-color: white;
}

.card2 {
  margin: 0px 40px;
}

.logog2 {
  margin-top: -20px;
  margin-left: 10px;
  width: 230px;
}

.line2 {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.text-sm {
  font-size: 15px !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

.show {
  cursor: pointer;
}

.text-yellow {
  color: black;
}

.text-yellow:hover {
  color: #f7b019fd;
}

@media screen and (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }

  .image1 {
    width: 300px;
    height: 220px;
  }

  .border-line {
    border-right: none;
  }

  .card2 {
    border-top: 1px solid #eeeeee !important;
    margin: 0px 15px;
  }
}
