#inputtt:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #f5b01dfd;
  outline-width: 0;
  margin-top: "-100px";
}

.table-title {
  padding-bottom: 15px;
  background: #f7931e;
  color: rgb(0, 0, 0);
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -12px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px -10px 0;
  font-size: 24px;
}

.profile-button {
  background: #f5b01dfd;
  box-shadow: none;
  color: #fff;
  border-radius: 5px;
}

.lbel {
  font-size: 20px;
  font-weight: bold;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

/* ISI */

.prof {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 20px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.image-top {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 10px;
  height: 100%;
}

.propil {
  width: 100%;
}
.profile-pic {
  border: 5px solid #fff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -60px;
  max-width: 100%;
}

.detail {
  color: #4d4d4d;
}

input[type="radio"] {
  visibility: hidden;
}
input[type="radio"]:checked + label {
  border: 3px solid #f7931e;
  border-radius: 100%;
}
.judul-pick-picture {
  font-size: medium;
  font-weight: bold;
}

.pilih-avatar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
}
.semua {
  padding: 0px 250px;
}

@media screen and (max-width: 768px) {
  .semua {
    padding: 0px 180px;
  }
}

.profile-info {
  color: #949494;
  padding: 20px;
  position: relative;
  margin-top: 15px;
}

.profile-info h2 {
  color: #616161;
  letter-spacing: 1px;
  font-size: 30px;
  padding-bottom: 12px;
}

.profile-info span {
  display: block;
  font-size: 13px;
  color: #f7931e;
  letter-spacing: 2px;
  margin-top: 10px;
}
