@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

/* NAVBAR */
.toogle {
  border: none;
  color: #363636;
  border-radius: 5px;
  /* background-color: hsl(32, 93%, 54%); */
  background-color: hsl(32, 93%, 54%);
  width: 50px;
  height: 50px;
  margin-top: 3px;
}

.full-toogle {
  margin-top: 12px;
}
.pp {
  margin-right: 5px;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navvv {
  /* padding: 8px 5px; */
  /* margin: 10px; */
  height: 80px;
  width: 82%;
  background-color: whitesmoke;
  z-index: 99;
  transition: all 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.navvv.active {
  background-color: whitesmoke;
  width: 100%;
  transition: all 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* SIDEBAR  */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #f7931e;
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 3px;
  background: #363636;
  color: #ece9e9;
  height: 80px;
  transition: 0.5s;
}

.head:hover {
  background: #363636;
  color: #f7931e;
  cursor: pointer;
}

.head {
  text-decoration: none;
  font-size: 25px;
  background: #363636;
  color: #ece9e9;
  transition: 0.5s;
}

.uli.active {
  background-color: #ece9e9;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #e49c00fd;
}

#sidebar ul p {
  color: #fff;
  padding: 5px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  color: #fff;
}

#sidebar ul li a:hover {
  color: #d49100fd;
  background: #fff;
}
/* #sidebar ul li a:active {
  color: black;
  background: white;
} */

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: black;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: white;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* li log out */

#sidebar li .out {
  position: absolute;
  bottom: 0;
  width: 250px;
}

/* MEDIAQUERIES */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navvv {
    width: 97.5%;
  }
  .navvv.active {
    width: 65%;
  }
}
