.modal-confirmm {
  color: #636363;
  width: 325px;
  font-size: 14px;
}
.modal-confirmm .modal-contentt {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirmm .modal-headerr {
  border-bottom: none;
  position: relative;
}
.modal-confirmm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirmm .form-control,
.modal-confirmm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirmm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirmm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirmm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirmm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirmm.modal-dialog {
  margin-top: 80px;
}
.modal-confirmm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-confirmm .btn:hover,
.modal-confirmm .btn:focus {
  background: #6fb32b;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
