.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  min-width: 1000px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
  padding-bottom: 10px;
  background: #f7931e;
  color: rgb(0, 0, 0);
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
  background-color: #ffcc5ffd;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196f3;
}

table.table td a.edit {
  color: #ffc107;
}

table.table td a.delete {
  color: #f44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

/* button */

.tble-button {
  background: #f7931e;
  box-shadow: none;
  color: #fff;
  border-radius: 50px;
}

.tble-button:hover {
  background: #ecf0f1;
  color: #f7931e;
  border: 1px solid #f7931e;
}

.tble-button:active {
  background: #f7931e;
  color: #fff;
  box-shadow: none;
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Modal styles */

.modal .modal-dialog {
  max-width: 950px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .modal-title {
  display: inline-block;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.modal textarea.form-control {
  resize: vertical;
}

.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}

.modal form label {
  font-weight: normal;
}

.pict-modal {
  width: 50px;
  height: 50px;
}

.fullname-modal {
  font-size: medium;
  font-weight: bold;
}

.ussername-modal {
  font-size: small;
  font-weight: normal;
}

.details-modal {
  font-size: medium;
  font-weight: bold;
}

/* modal */

.foto {
  justify-content: center;
}

.nama-lengkap {
  font-size: 45px;
  font-weight: 700;
}

.ussername-email {
  font-size: 20px;
}

.nama-depann {
  font-size: larger;
  font-weight: bold;
}

.fotooo {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .fotooo {
    width: 100px;
    height: 100px;
  }
}
