/* card list */
.card-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
}
.bungkus-card {
  cursor: pointer;
}
.bungkus-card:hover .card-user {
  transform: scale(1.1);
  font-size: 14px;
}
.card-user {
  transition: 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
}
.foto-av {
  border-radius: 20px 20px 0px 0px;
}
.desk {
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

/* Table-title */
.table-title {
  padding-bottom: 15px;
  background: #f7931e;
  color: rgb(0, 0, 0);
  /* padding: 16px 30px; */
  min-width: 100%;
  margin: -20px -12px 30px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px -10px 0;
  font-size: 24px;
}

/* scroolbar- deskripsi */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.card-none {
  border: none;
}
.icon-modal {
  font-size: 25px;
  padding: 10px;
  color: #5a5a5a;
}

.nme span {
  width: 135px;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

/* columns */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
