<template>
  <div class="box">
    <Sidebar />
    <div class="main">
      <Navbar />
      <!-- <div class="container smuaa">
        <div class="all card shadow">
          <div class="dasbor">
            <h3>
              <i class="fa-solid fa-wave-pulse"></i>&nbsp; <b>Aktifitas</b>
            </h3>
          </div> -->
      <div class="full mar">
        <div class="container mb-5 shadow">
          <!-- table title -->
          <div class="table-title">
            <div class="col">
              <h2><i class="bi bi-list"></i>&nbsp;<b>Tabel Aktifitas</b></h2>
            </div>
          </div>
          <div class="container" style="margin-top: 15px">
            <!-- Table User -->
            <table class="content-table" id="example">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Email</th>
                  <th>Keterangan</th>
                  <th>Waktu</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(active, index) in actives" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ active.email }}</td>
                  <td>{{ active.keterangan }} {{ active.username }}</td>
                  <td>{{ active.waktu }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ActiveDataService from "../services/ActiveDataService";
import Sidebar from "./Sidebar.vue";
import Navbar from "./Navbar.vue";
import $ from "jquery";
//Datatable
import axios from "axios";
import "bootstrap/dist/css/bootstrap.min.css"; //for table good looks
import "jquery/dist/jquery.min.js";
//Datatable Modules
import "datatables.net-dt/js/dataTables.dataTables";
import "datatables.net-dt/css/jquery.dataTables.min.css";
import "datatables.net-buttons/js/dataTables.buttons.js";

export default {
  name: "Activity",
  data() {
    return {
      actives: [],
      id: "",
    };
  },
  components: {
    Sidebar,
    Navbar,
  },
  mounted() {
    this.retrieveActives();

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
      });
    });

    axios.get("http://localhost:8080/api/auth/actives").then((res) => {
      this.actives = res.data;
      setTimeout(function () {
        $("#example").DataTable({
          pagingType: "full_numbers",
          pageLength: 10,
          processing: true,
        });
      }, 1000);
    });

    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser["roles"]) {
        return this.currentUser["roles"].includes("ROLE_ADMIN");
      }
      return false;
    },
  },
  methods: {
    retrieveActives() {
      ActiveDataService.getAll()
        .then((response) => {
          this.actives = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style>
@import "../assets/style/profile.css";
@import "../assets/style/activity.css";

.box {
  display: flex;
  height: 100vh;
}
.smuaa {
  padding: 20px;
  margin-top: 80px;
}

.main {
  border: 1px solid none;
  width: 100%;
}

* {
  font-family: sans-serif; /* Change your font family */
}

.mar {
  margin-top: 100px;
}
</style>
