<template>
  <!-- TopBar -->
  <div class="box">
    <SideBar />
    <div class="main">
      <div class="navBar">
        <NavBar />
      </div>
      <!-- Isi Content -->
      <div class="full mar">
        <div class="container shadow">
          <!-- table title -->
          <div class="table-titlee">
            <div class="col">
              <h2><i class="bi bi-speedometer"></i>&nbsp;<b>Dasbor</b></h2>
            </div>
          </div>
          <!-- Table card -->
          <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-sm-5">
              <div class="card-box bg-blue">
                <div class="inner">
                  <h3>Total User</h3>
                  <p id="demo"></p>
                </div>
                <div class="icon">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <a href="/users" class="card-box-footer"
                  >Lihat selengkapnya <i class="fa fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>

            <div class="col-lg-4 col-sm-5">
              <div class="card-box bg-green">
                <div class="inner">
                  <h3>Edit Profil</h3>
                  <p>{{ currentUser.username }}</p>
                </div>
                <div class="icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
                <a href="/profile" class="card-box-footer"
                  >Lihat selengkapnya <i class="fa fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-5">
              <div class="card-box bg-orange">
                <div class="inner">
                  <h3>Total Role</h3>
                  <p id="role"></p>
                </div>
                <div class="icon">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <a href="/roles" class="card-box-footer"
                  >Lihat selengkapnya <i class="fa fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <hr />

          <!-- Table User -->
          <div class="table-responsive mt-4">
            <!-- <h3><i class="bi bi-table mr-2"></i>Tabel User</h3> -->
            <table class="table" id="example">
              <thead>
                <tr style="background-color: #f7931e; color: white">
                  <th>No</th>
                  <th>Nama Depan</th>
                  <th>Nama Belakang</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, index) in users" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ user.namadepan }}</td>
                  <td>{{ user.namabelakang }}</td>
                  <td>{{ user.username }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "../services/user.service";
import UserDataService from "../services/UserDataService";
import RoleDataService from "../services/RoleDataService";
import SideBar from "./Sidebar.vue";
import NavBar from "./Navbar.vue";
import $ from "jquery";
//Datatable
import axios from "axios";
import "bootstrap/dist/css/bootstrap.min.css"; //for table good looks
import "jquery/dist/jquery.min.js";
//Datatable Modules
import "datatables.net-dt/js/dataTables.dataTables";
import "datatables.net-dt/css/jquery.dataTables.min.css";
import "datatables.net-buttons/js/dataTables.buttons.js";

export default {
  name: "user-details",
  data: function () {
    return {
      users: [],
      roles: [],
      currentData: null,
      currentIndex: -1,
      id: "",
      content: "",
    };
  },
  components: {
    SideBar,
    NavBar,
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser["roles"]) {
        return this.currentUser["roles"].includes("ROLE_ADMIN");
      }
      return false;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
    retrieveUsers() {
      UserDataService.getAll()
        .then((response) => {
          this.users = response.data;
          let length = this.users.length;
          document.getElementById("demo").innerHTML = length;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveusers();
      this.currentData = null;
      this.currentIndex = -1;
    },
    setActiveUser(user, index) {
      this.currentData = user;
      this.currentIndex = index;
    },
    getRole(id) {
      RoleDataService.get(id)
        .then((response) => {
          this.currentData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveRoles() {
      RoleDataService.getAll()
        .then((response) => {
          this.roles = response.data;
          let total = this.roles.length;
          document.getElementById("role").innerHTML = total;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveroles();
      this.currentData = null;
      this.currentIndex = -1;
    },
    setActiveRole(role, index) {
      this.currentData = role;
      this.currentIndex = index;
    },
  },

  mounted() {
    this.retrieveUsers();
    this.retrieveRoles();

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
      });
    });

    UserService.getUserBoard().then(
      (response) => {
        this.content = response.data;
      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );

    if (!this.currentUser) {
      this.$router.push("/login");
    }

    axios.get("http://localhost:8080/api/auth/users").then((res) => {
      this.users = res.data;
      setTimeout(function () {
        $("#example").DataTable({
          pagingType: "full_numbers",
          pageLength: 3,
          processing: true,
        });
      }, 1000);
    });
  },
};
</script>

<style>
@import "../assets/style/homedashboard.css";

.box {
  display: flex;
}
.dasbor {
  background: #f7931e;
}
.main {
  border: 1px solid none;
  width: 100%;
  height: 100vh;
}
.one {
  background-color: #e0e0e0;
}
.mar {
  margin-top: 100px;
}
</style>
