<template>
  <div class="box">
    <SideBar />
    <div class="main">
      <NavBar />
      <div class="full mar">
        <div class="container bg-white shadow">
          <div class="table-title">
            <div class="row">
              <div class="col-xl-10">
                <h2>
                  <i class="bi bi-pencil-square"></i>&nbsp;Edit <b>Profil</b>
                </h2>
              </div>
              <div class="col-xl-2"></div>
            </div>
          </div>
          <div v-if="currentData">
            <Form :validation-schema="schema">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="mb-1" for="namadepan"
                    ><h6 class="mb-0 text-sm">Nama Depan</h6>
                  </label>
                  <Field
                    type="text"
                    name="firstname"
                    id="namadepan"
                    v-model="currentData.namadepan"
                    class="form-control"
                    placeholder="Nama Depan"
                  />
                  <ErrorMessage
                    name="firstname"
                    class="ErrorMessage error-feedback"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="mb-1" for="namabelakang"
                    ><h6 class="mb-0 text-sm">Nama Belakang</h6>
                  </label>
                  <Field
                    type="text"
                    name="lastname"
                    id="namabelakang"
                    v-model="currentData.namabelakang"
                    class="form-control"
                    placeholder="Nama Belakang"
                  />
                  <ErrorMessage
                    name="lastname"
                    class="ErrorMessage error-feedback"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="username"
                    ><h6 class="mb-0 text-sm">Username</h6>
                  </label>
                  <Field
                    name="username"
                    type="text"
                    id="username"
                    v-model="currentData.username"
                    placeholder="Username"
                    class="form-control"
                  />
                  <ErrorMessage
                    name="username"
                    class="ErrorMessage error-feedback"
                  />
                </div>
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="email"
                    ><h6 class="mb-0 text-sm">Email</h6>
                  </label>
                  <Field
                    type="text"
                    name="email"
                    id="email"
                    v-model="currentData.email"
                    class="form-control"
                    placeholder="Email"
                  />
                  <ErrorMessage
                    name="email"
                    class="ErrorMessage error-feedback"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="alamat"
                    ><h6 class="mb-0 text-sm">Alamat</h6>
                  </label>
                  <Field
                    name="alamat"
                    type="text"
                    placeholder="Alamat"
                    id="alamat"
                    v-model="currentData.alamat"
                    class="form-control"
                  />
                  <ErrorMessage
                    name="alamat"
                    class="ErrorMessage error-feedback"
                  />
                </div>
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="telepon"
                    ><h6 class="mb-0 text-sm">No. Telepon</h6>
                  </label>
                  <Field
                    name="telepon"
                    type="number"
                    placeholder="No. Telepon"
                    id="telepon"
                    v-model="currentData.telepon"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="form-group mt-2">
                <label class="mb-1" for="deskripsi"
                  ><h6 class="mb-0 text-sm">Deskripsi</h6>
                </label>
                <textarea
                  class="form-control"
                  type="textarea"
                  placeholder="Deskripsi"
                  id="deskripsi"
                  v-model="currentData.deskripsi"
                />
                <div class="container">
                  <hr />
                  <p class="judul-pick-picture">Pilih foto profil</p>
                </div>
                <div class="container">
                  <div class="semua">
                    <div class="pilih-avatar">
                      <div class="frm">
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="satu"
                          name="pick-picture"
                          value="https://i.postimg.cc/zvHjrHjk/cat.png"
                        />
                        <label for="satu">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/zvHjrHjk/cat.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="dua"
                          name="pick-picture"
                          value="https://i.postimg.cc/8PByPMGy/dog.png"
                        />
                        <label for="dua" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/8PByPMGy/dog.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="tiga"
                          name="pick-picture"
                          value="https://i.postimg.cc/8PHHVGd9/fox.png"
                        />
                        <label for="tiga" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/8PHHVGd9/fox.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="tiga1"
                          name="pick-picture"
                          value="https://i.postimg.cc/4x2Qm1S1/gajah.png"
                        />
                        <label for="tiga1" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/4x2Qm1S1/gajah.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="empat"
                          name="pick-picture"
                          value="https://i.postimg.cc/9M5T7gty/keju.png"
                        />
                        <label for="empat" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/9M5T7gty/keju.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="lima"
                          name="pick-picture"
                          value="https://i.postimg.cc/zBvmTpzX/kelinci.png"
                        />
                        <label for="lima" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/zBvmTpzX/kelinci.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="enam"
                          name="pick-picture"
                          value="https://i.postimg.cc/ZqF36Ffg/manok.png"
                        />
                        <label for="enam" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/ZqF36Ffg/manok.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="tuju"
                          name="pick-picture"
                          value="https://i.postimg.cc/ZqM9878w/panda.png"
                        />
                        <label for="tuju" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/ZqM9878w/panda.png"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </Form>
            <h2 class="text-center">{{ message }}</h2>
            <div class="modal-footer mt-4">
              <!-- button edit -->
              <a href="/profile"
                ><button
                  type="button"
                  style="color: white; border-radius: 10px"
                  class="btn btn-danger"
                >
                  Batal
                </button></a
              >
              <a
                type="submit"
                @click="updateUser"
                class="btn"
                style="
                  background-color: #ffae00fd;
                  color: white;
                  border-radius: 10px;
                "
              >
                <b>Ubah</b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserDataService from "../services/UserDataService";
import SideBar from "./Sidebar.vue";
import NavBar from "./Navbar.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import $ from "jquery";

export default {
  name: "user-details",
  components: {
    SideBar,
    NavBar,
    Form,
    Field,
    ErrorMessage,
  },
  data: () => ({
    time: "",
    date: "",
  }),
  mounted() {
    this.message = "";
    this.getUser(this.$route.params.id);

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
      });
    });
  },
  data() {
    const schema = yup.object().shape({
      firstname: yup
        .string()
        .required("Nama Depan harus diisi!")
        .min(3, "Minimal 3 karakter!")
        .max(20, "Maksimal 20 karakter!"),
      lastname: yup
        .string()
        .required("Nama Belakang harus diisi!")
        .min(3, "Minimal 3 karakter!")
        .max(20, "Maksimal 20 karakter!"),
      username: yup
        .string()
        .required("Username harus diisi!")
        .min(4, "Minimal 4 karakter!")
        .max(20, "Maksimal 20 karakter!"),
      email: yup
        .string()
        .required("Email harus diisi!")
        .email("Email harus sertakan '@gmail.com'!")
        .max(50, "Maksimal 50 karakter!"),
      password: yup
        .string()
        .required("Password harus diisi!")
        .min(8, "Minimal 8 karakter!"),
      alamat: yup
        .string()
        .required("Alamat harus diisi!")
        .min(4, "Minimal 4 karakter!"),
      gambar: yup
        .string()
        .required("URL Gambar harus diisi!")
        .min(4, "Minimal 4 karakter!"),
    });
    return {
      active: {
        email: "",
        keterangan: " telah memperbaharui profilnya...",
      },
      currentData: null,
      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },
  methods: {
    printDate: function () {
      return new Date().toLocaleDateString();
    },
    printTime: function () {
      return new Date().toLocaleTimeString();
    },
    getUser(id) {
      UserDataService.get(id)
        .then((response) => {
          this.currentData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    updateUser() {
      var data = {
        email: this.currentData.email,
        waktu: this.printDate() + " " + this.printTime(),
        keterangan: "Telah berhasil memperbaharui profilnya",
      };
      UserDataService.create(data)
        .then((response) => {
          this.currentData.id = response.data.id;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
      UserDataService.update(this.currentData.id, this.currentData)
        .then((response) => {
          localStorage.setItem("user", JSON.stringify(response.data));
          this.$swal({
            icon: "success",
            title: "Berhasil",
            text: "Anda berhasil mengubah profil",
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false,
          });
          this.$router.push("/profile");
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style>
@import "../assets/style/profile.css";

.box {
  display: flex;
}
.full {
  padding: 20px;
  margin-top: -50px;
}

/* scrollbar  */
.main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid none;
  height: 100vh;
}

.main::-webkit-scrollbar {
  display: none;
}

.main::-webkit-scrollbar {
  display: none;
}
.ErrorMessage {
  color: red;
}
.hps {
  margin-left: -10px;
  background-color: #f44336;
  border-radius: 10px;
  border: none;
  height: 40px;
  color: white;
}

.btn-light {
  background: #f5b01dfd;
  box-shadow: none;
  color: #fff;
  border-radius: 5px;
}
.mar {
  margin-top: 100px;
}
</style>
