<template>
    <div>
        <h1>HOME WOYY</h1>
    </div>
</template>

<script>
import UserService from '../services/user.service';
export default {
    name: "HomeView",
    mounted() {
     UserService.getPublicContent().then(
      (response) => {
        this.content = response.data;
      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
  },
}
</script>