<template>
  <!-- animation loading -->
  <section v-show="loading">
    <div class="loding">
      <center>
        <div id="load" class="loading loading07">
          <span style="font-size: 80px" data-text="G">G</span>
          <span style="font-size: 80px" data-text="2">2</span>
          <span style="font-size: 80px" data-text="A">A</span>
          <span style="font-size: 80px" data-text="C">C</span>
          <span style="font-size: 80px" data-text="A">A</span>
          <span style="font-size: 80px" data-text="D">D</span>
          <span style="font-size: 80px" data-text="E">E</span>
          <span style="font-size: 80px" data-text="M">M</span>
          <span style="font-size: 80px" data-text="Y">Y</span>
        </div>
      </center>
    </div>
  </section>
  <!-- Full  -->
  <div class="container px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card border-0 mt-4">
      <div class="row card0 d-flex">
        <div class="col-lg-6 bok1">
          <div class="card1">
            <!-- Logo  -->
            <div class="row">
              <img
                src="../assets/g2ac.png"
                style="width: 220px"
                class="logog2"
              />
            </div>
            <!-- Image -->
            <div class="row px-3 justify-content-center mt-4 mb-5">
              <img
                src="../assets/login.png"
                style="width: 345px; height: 350px; margin-top: -30px"
                class="image2"
              />
            </div>
          </div>
        </div>

        <!-- Form Login -->
        <div class="col-lg-6 bok2">
          <div class="card2 card border-0 px-4 py-5">
            <h2 class="mb-0 mr-4 mt-2 titlee">
              <i class="bi bi-person-fill"></i> Masuk
            </h2>
            <div class="row px-3 mb-4">
              <div class="line2"></div>
              <div class="line2"></div>
            </div>
            <Form
              @submit="handleLogin"
              style="margin-top: -5px"
              :validation-schema="schema"
            >
              <div v-if="!successful">
                <div class="mb-3">
                  <label class="mb-1" for="email">
                    <h6 class="mb-0 text-sm">Email</h6>
                  </label>
                  <Field
                    v-model="email"
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                  />
                  <ErrorMessage name="email" class="error-feedback error" />
                </div>
                <div class="mb-3">
                  <label class="mb-1" for="password">
                    <h6 class="mb-0 text-sm">Password</h6>
                  </label>
                  <Field
                    type="password"
                    id="myPassword"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                  />
                  <ErrorMessage name="password" class="error-feedback error" />
                </div>
                <input
                  class="show"
                  type="checkbox"
                  @click="myFunction()"
                />&nbsp;Tampilkan Kata Sandi
                <br />
                <!-- Button Login -->
                <div class="text-center mt-3">
                  <div
                    v-if="message"
                    class="alert mb-2 error-load"
                    role="alert"
                  >
                    Email atau password yang anda masukkan salah!
                  </div>
                  <button
                    type="submit"
                    style="background-color: #f7b019fd; border: none"
                    class="btn btn-dark text-center snia"
                  >
                    Masuk
                  </button>
                  <div class="row mb-4 mt-3 px-3">
                    <p>
                      Belum memiliki akun?
                      <a href="/register" class="text-yellow font-weight-bold"
                        >Register</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </Form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserDataService from "../services/UserDataService";
import { Form, Field, ErrorMessage } from "vee-validate";

import * as yup from "yup";
export default {
  name: "LoginView",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data: () => ({
    time: "",
    date: "",
  }),

  data() {
    // validasi form
    const schema = yup.object().shape({
      email: yup
        .string()
        .required("Email harap di isi!")
        .email("Harap sertakan '@' di email*")
        .max(50, "maximal 50 karakter!"),
      password: yup
        .string()
        .required("Password harus di isi!")
        .min(8, "password minimal 8 karakter"),
    });
    return {
      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/admin");
    }
  },
  // show password
  methods: {
    printDate: function () {
      return new Date().toLocaleDateString();
    },
    printTime: function () {
      return new Date().toLocaleTimeString();
    },
    myFunction() {
      var x = document.getElementById("myPassword");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    },

    handleLogin(user) {
      var data = {
        email: this.email,
        keterangan: "Telah Login ",
        waktu: this.printDate() + " " + this.printTime(),
      };
      UserDataService.create(data)
        .then((response) => {
          this.currentUser.id = response.data.id;
        })
        .catch((e) => {
          console.log(e);
        });
      this.loading = true;
      this.$store.dispatch("auth/login", user).then(
        () => {
          this.$router.push("/admin");
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    },
  },
};
</script>

<style>
@import "../assets/style/login.css";

.error {
  color: #b91c1c;
  font-size: 18px;
  margin-left: 5px;
}
.error-load {
  color: #b91c1c;
  font-size: 16px;
  margin-left: 5px;
  margin-top: -10px;
}

.btn-dark {
  background-color: #f7b019fd;
  width: 150px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
</style>
<style lang="scss">
@import "../assets/style/loading.scss";
</style>
