<template>
  <div>
    <!-- nav -->
    <nav class="navvv" id="navv" style="position: fixed">
      <!-- toogle -->
      <div class="container-fluid full-toogle">
        <button type="button" id="sidebarCollapse" class="toogle">
          <i class="bi bi-list fs-4"></i>
        </button>

        <!-- img profil -->
        <div class="pp" style="float: right">
          <a href="/profile">
            <img
              class="rounded-circle"
              alt="Profil"
              style="width: 55px; height: 55px"
              :src="currentUser.gambar"
              data-holder-rendered="true"
          /></a>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data: () => ({ currentUser: {} }),

  mounted() {
    this.currentUser = JSON.parse(localStorage.getItem("user"));

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
  computed: {
    // currentUser() {
    //   return this.$store.state.auth.user;
    // },
    showAdminBoard() {
      if (this.currentUser && this.currentUser["roles"]) {
        return this.currentUser["roles"].includes("ROLE_ADMIN");
      }
      return false;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },
};
</script>

<style>
@import "../assets/style/sidebar.css";
</style>
