<template>
  <!-- Topbar -->
  <div class="box">
    <SideBar />
    <div class="main">
      <div class="navBar">
        <NavBar />
      </div>
      <!-- Isi Content -->
      <div class="full mar">
        <div class="container">
          <!-- table title -->
          <div class="table-title">
            <div class="col">
              <h2>
                <i class="bi bi-person-circle"></i>&nbsp;<b>Profil Saya</b>
              </h2>
            </div>
          </div>
          <div class="row" style="margin-top: -25px">
            <!-- Card 1 -->
            <div class="card col-lg-3 mr-2">
              <div class="flex-column align-items-center text-center p-2 py-5">
                <img
                  class="rounded-circle"
                  :src="currentUser.gambar"
                  style="width: 150px; height: 150px"
                />
                <div class="profile-info" style="margin-top: -15px">
                  <h2>
                    {{ currentUser.namadepan }}<br />{{
                      currentUser.namabelakang
                    }}<span
                      >{{ currentUser.username }} | {{ currentUser.email }}
                    </span>
                  </h2>
                  <h3 class="des">{{ currentUser.deskripsi }}</h3>
                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="card col-lg">
              <div class="p-3 py-5">
                <div>
                  <!-- Detail -->
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 txt">Nama Depan</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ currentUser.namadepan }}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 txt">Nama Belakang</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ currentUser.namabelakang }}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 txt">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ currentUser.username }}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 txt">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ currentUser.email }}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 txt">Alamat</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ currentUser.alamat }}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 txt">No. Telepon</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ currentUser.telepon }}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 txt">Deskripsi</h6>
                    </div>
                    <div class="col-sm-9 text-secondary desk">
                      {{ currentUser.deskripsi }}
                    </div>
                  </div>
                  <hr />
                  <!-- Button edit -->
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <a
                        class="btn profile-button"
                        style="
                          background-color: #f7931e;
                          color: white;
                          width: 150px;
                        "
                        :href="'/profil/' + currentUser.id"
                        ><i class="bi bi-pencil-square"></i> Ubah
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "./Sidebar.vue";
import NavBar from "./Navbar.vue";
import $ from "jquery";

export default {
  name: "ProfileView",
  components: {
    SideBar,
    NavBar,
  },
  data: () => ({ currentUser: {} }),

  computed: {
    showAdminBoard() {
      if (this.currentUser && this.currentUser["roles"]) {
        return this.currentUser["roles"].includes("ROLE_ADMIN");
      }
      return false;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },

  mounted() {
    this.currentUser = JSON.parse(localStorage.getItem("user"));

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
      });
    });

    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
@import "../assets/style/sidebar.css";
@import "../assets/style/profile.css";

.box {
  display: flex;
}

.main {
  border: 1px solid none;
  width: 100%;
  height: 100vh;
}
.one {
  background-color: #e0e0e0;
}

.desk {
  padding: 15px;
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

.des {
  font-size: 16px;
  margin-top: 10px;
}

/* scrollbar deskripsi */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mar {
  margin-top: 100px;
}
</style>
