<template>
  <!-- animation loading -->
  <section v-show="loading" class="sectionn">
    <div class="loding">
      <center>
        <div id="load" class="loading loading07">
          <span style="font-size: 80px" data-text="G">G</span>
          <span style="font-size: 80px" data-text="2">2</span>
          <span style="font-size: 80px" data-text="A">A</span>
          <span style="font-size: 80px" data-text="C">C</span>
          <span style="font-size: 80px" data-text="A">A</span>
          <span style="font-size: 80px" data-text="D">D</span>
          <span style="font-size: 80px" data-text="E">E</span>
          <span style="font-size: 80px" data-text="M">M</span>
          <span style="font-size: 80px" data-text="Y">Y</span>
        </div>
      </center>
    </div>
  </section>
  <!-- Full -->
  <div class="container px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card border-0">
      <div class="row card0 d-flex">
        <!-- Card 1 -->
        <div class="col-lg-6 bok1">
          <div class="card1 pb-5">
            <div class="row">
              <img
                src="../assets/g2ac.png"
                style="width: 230px; margin-left: 10px"
              />
            </div>
            <div class="row px-3 justify-content-center mt-4 mb-5 border-linee">
              <img src="../assets/register.png" class="image2" />
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-lg-6 bok2">
          <div class="card2 card border-0 py-5">
            <h2 class="mb-0 mr-4 mt-2 titlee">
              <i class="bi bi-person-plus-fill"></i
              ><span class="ml-2">Daftar</span>
            </h2>

            <div class="row px-3 mb-4">
              <div class="line2"></div>
              <div class="line2"></div>
            </div>
            <br />
            <!-- Form Login -->
            <Form
              @submit="handleRegister"
              :validation-schema="schema"
              style="margin-top: -40px"
            >
              <div v-if="!successful">
                <div class="row mt-3">
                  <div class="form-group col">
                    <label class="mb-1" for="namadepan"
                      ><h6 class="mb-0 text-sm">Nama Depan</h6>
                    </label>
                    <Field
                      type="text"
                      name="namadepan"
                      class="form-control"
                      placeholder="Nama Depan"
                    />
                    <ErrorMessage
                      name="namadepan"
                      class="error-feedback error"
                    />
                  </div>
                  <div class="form-group col">
                    <label class="mb-1" for="namabelakang"
                      ><h6 class="mb-0 text-sm">Nama Belakang</h6>
                    </label>
                    <Field
                      type="text"
                      name="namabelakang"
                      class="form-control"
                      placeholder="Nama Belakang"
                    />
                    <ErrorMessage
                      name="namabelakang"
                      class="error-feedback error"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="mb-1" for="username"
                    ><h6 class="mb-0 text-sm">Username</h6>
                  </label>
                  <Field
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    name="username"
                  />
                  <ErrorMessage name="username" class="error-feedback error" />
                </div>
                <div class="mb-3">
                  <label class="mb-1" for="email"
                    ><h6 class="mb-0 text-sm">Email</h6>
                  </label>
                  <Field
                    name="email"
                    class="form-control"
                    placeholder="Email"
                  />
                  <ErrorMessage name="email" class="error-feedback error" />
                </div>
                <div class="mb-3">
                  <label class="mb-1" for="alamat"
                    ><h6 class="mb-0 text-sm">Alamat</h6>
                  </label>
                  <Field
                    name="alamat"
                    class="form-control"
                    placeholder="Alamat"
                  />
                  <ErrorMessage name="alamat" class="error-feedback error" />
                </div>
                <div class="mb-3">
                  <label class="mb-1" for="password"
                    ><h6 class="mb-0 text-sm">Password</h6>
                  </label>
                  <Field
                    type="password"
                    id="myPassword"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                  />
                  <ErrorMessage name="password" class="error-feedback error" />
                </div>
                <input
                  class="show"
                  type="checkbox"
                  @click="myFunction()"
                />&nbsp;Tampilkan Kata Sandi
                <br />
                <br />
                <!-- Buttton Login -->
                <div class="mt-2 text-center">
                  <div
                    v-if="message"
                    class="alert"
                    :class="successful ? 'alert-success' : 'error-load'"
                  >
                    {{ message }}
                  </div>
                  <button
                    type="submit"
                    style="background-color: #f7b019fd; border: none"
                    class="btn btn-dark text-center snia"
                  >
                    Daftar
                  </button>
                  <div class="row mb-4 mt-3 px-3">
                    <small
                      >Apakah kamu punya akun?
                      <a href="/" class="text-yellow font-weight-bold"
                        >Masuk</a
                      ></small
                    >
                  </div>
                </div>
              </div>
            </Form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ErrorMessage, Form, Field } from "vee-validate";
import * as yup from "yup";

export default {
  name: "RegisterView",
  components: {
    ErrorMessage,
    Form,
    Field,
  },
  data() {
    // validasi form
    const schema = yup.object().shape({
      email: yup
        .string()
        .required("Email harap di isi!")
        .email("Harap sertakan '@' di email*")
        .max(50, "maximal 50 karakter!"),
      namadepan: yup.string().required("nama depan diperlukan*"),
      namabelakang: yup.string().required("nama belakang diperlukan*"),
      username: yup.string().required("username diperlukan*"),
      alamat: yup.string().required("alamat diperlukan*"),
      password: yup
        .string()
        .required("password diperlukan*")
        .min(8, "password min 8 karakter*"),
    });
    return {
      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },
  // method show password
  methods: {
    myFunction() {
      var x = document.getElementById("myPassword");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    },

    handleRegister(user) {
      this.message = "";
      this.successful = false;
      this.loading = true;
      this.$store.dispatch("auth/register", user).then(
        (data) => {
          this.message = data.message;
          this.successful = true;
          this.loading = false;
          this.$router.push("/login");
        },
        (error) => {
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
          this.successful = false;
          this.loading = false;
        }
      );
    },
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push("/user");
    }
  },
};
</script>

<style>
@import "../assets/style/login.css";

.error-load {
  color: #b91c1c;
  font-size: 16px;
  margin-left: 5px;
  margin-top: -10px;
}

.error {
  color: #b91c1c;
  font-size: 15px;
  margin-left: 5px;
}

.btn-dark {
  background-color: #f7b019fd;
  width: 150px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
</style>
<style lang="scss">
@import "../assets/style/registerload.scss";
</style>
