<template>
  <div class="box">
    <SideBar />
    <div class="main">
      <div class="navBar">
        <NavBar />
      </div>
      <div class="fu mar">
        <div class="container shadow">
          <div class="table-responsive">
            <div class="table-wrapper mt-2">
              <div class="table-title">
                <div class="row">
                  <div class="dasbor">
                    <h2>List <b>Role</b></h2>
                  </div>
                </div>
              </div>
              <div class="table">
                <table class="table table-striped table-hover text-center">
                  <thead>
                    <tr class="th">
                      <th class="col-sm-2">No</th>
                      <th>Nama Role</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(role, index) in roles" :key="index">
                      <td>{{ index + 1 }}</td>
                      <td>{{ role.name }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SideBar from "./Sidebar.vue";
import NavBar from "./Navbar.vue";
import RoleDataService from "../services/RoleDataService";
import $ from "jquery";

export default {
  name: "roles-list",
  components: {
    SideBar,
    NavBar,
  },
  data() {
    return {
      roles: [],
      currentData: null,
      currentIndex: -1,
      successful: false,
      id: "",
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser["roles"]) {
        return this.currentUser["roles"].includes("ROLE_ADMIN");
      }
      return false;
    },
  },
  methods: {
    getRole(id) {
      RoleDataService.get(id)
        .then((response) => {
          this.currentData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    updateRole() {
      RoleDataService.update(this.currentData.id, this.currentData)
        .then((response) => {
          this.message = "Update berhasil!";
          this.$router.push("/roles");
        })
        .catch((e) => {
          console.log(e);
        });
    },
    deleteRoles() {
      RoleDataService.delete(this.currentData.id)
        .then((response) => {
          this.$router.push({ name: "roles" });
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveRoles() {
      RoleDataService.getAll()
        .then((response) => {
          this.roles = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveroles();
      this.currentData = null;
      this.currentIndex = -1;
    },
    setActiveRole(role, index) {
      this.currentData = role;
      this.currentIndex = index;
    },

    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },
  mounted() {
    this.getRole(this.$route.params.id);
    this.retrieveRoles();

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
      });
    });

    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
@import "../assets/style/sidebar.css";
@import "../assets/style/table.css";

.box {
  display: flex;
}

.fu {
  margin-top: 20px;
  padding: 10px 20px;
}
.dasbor {
  padding: 5px 10px;
  background-color: #f7931e;
}

.main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}
.one {
  background-color: #e0e0e0;
}
.mar {
  margin-top: 50px;
}
</style>
