<template>
  <!-- sidebar -->
  <nav id="sidebar">
    <!-- sidebar-header -->
    <div class="sidebar-header">
      <h3>
        <a class="head" href="/admin">User<br />Management</a>
      </h3>
    </div>

    <!-- <div id="toplist"> -->
    <ul class="list-unstyled components">
      <li>
        <a href="/admin"><i class="bi bi-speedometer"></i>&nbsp;&nbsp;Dasbor</a>
      </li>

      <li class="uli">
        <a href="/users"
          ><i class="bi bi-person-lines-fill"></i>&nbsp;&nbsp;Daftar User</a
        >
      </li>

      <li class="uli">
        <a href="/actives"
          ><i class="bi bi-calendar2-check-fill"></i>&nbsp;&nbsp; Catatan
          Kegiatan</a
        >
      </li>
      <!-- log out -->
      <li class="uli">
        <a class="out" @click.prevent="logOut"
          ><i class="bi bi-box-arrow-left"></i>&nbsp;Keluar</a
        >
      </li>
    </ul>
    <!-- </div> -->
  </nav>
</template>

<script>
export default {
  name: "Sidebar",
  mounted() {
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar, #navbar").toggleClass("active");
      });
    });
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser["roles"]) {
        return this.currentUser["roles"].includes("ROLE_ADMIN");
      }
      return false;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },
};
</script>

<style>
@import "../assets/style/sidebar.css";
</style>
