<template>
  <!-- TopBar -->
  <div class="box">
    <SideBar />
    <div class="main">
      <div class="navBar">
        <NavBar />
      </div>
      <!-- Isi Content -->
      <div class="full mar">
        <div class="container mb-5 shadow">
          <!-- table title -->
          <div class="table-title">
            <div class="col">
              <h2><i class="bi bi-table"></i>&nbsp;Tabel <b>User</b></h2>
            </div>
          </div>
          <!-- Card list -->
          <div class="row justify-content-center">
            <div
              v-for="(user, index) in users"
              :key="index"
              class="col-lg-15 col-sm-6 bungkus-card"
            >
              <div
                :class="{ active: index == currentIndex }"
                @click="setActiveUser(user, index)"
                class="card-user shadow p-3 mb-5 bg-body"
                data-toggle="modal"
                data-target="#detailModal"
              >
                <img class="foto-av" :src="user.gambar" />
                <div class="card-body">
                  <p class="nme">
                    <span>{{ user.namadepan }} {{ user.namabelakang }}</span
                    ><br />
                    <span class="ussername-card">{{ user.username }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- MODAL DETAIL  -->
          <div
            v-if="currentData"
            class="modal fade"
            id="detailModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <!-- title modal detail -->
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Detail Akun</h4>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- isi detail -->
                <div class="modal-body">
                  <div>
                    <div v-if="currentData" class="row">
                      <!-- image  -->
                      <div class="col-md-3 mr-3 first">
                        <span
                          class="d-flex flex-column align-items-center text-center p-2 py-5"
                        >
                          <img class="fotooo mb-4" :src="currentData.gambar" />
                          <!-- icon medsos -->
                          <div>
                            <a
                              target="_blank"
                              href="https://id-id.facebook.com/"
                            >
                              <i class="bi bi-facebook icon-modal"></i></a
                            >&nbsp;<a
                              target="_blank"
                              href="https://www.instagram.com/"
                              ><i class="bi bi-instagram icon-modal"></i></a
                            >&nbsp;<a
                              target="_blank"
                              href="https://web.whatsapp.com/"
                              ><i class="bi bi-whatsapp icon-modal"></i
                            ></a>
                          </div>
                        </span>
                      </div>
                      <!-- list detail -->
                      <div class="card card-none col">
                        <div>
                          <div>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0 txt">Nama Depan</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{ currentData.namadepan }}
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0 txt">Nama Belakang</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{ currentData.namabelakang }}
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0 txt">Username</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{ currentData.username }}
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0 txt">Email</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{ currentData.email }}
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0 txt">Alamat</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{ currentData.alamat }}
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0 txt">No. Telepon</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{ currentData.telepon }}
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0 txt">Deskripsi</h6>
                              </div>
                              <div class="col-sm-9 text-secondary desk">
                                {{ currentData.deskripsi }}
                              </div>
                            </div>
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- modal-footer -->
                <div class="modal-footer">
                  <!-- button edit -->
                  <button
                    type="button"
                    style="color: white; border-radius: 10px"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Batal
                  </button>
                  <a
                    :href="'/users/' + currentData.id"
                    type="button"
                    class="btn"
                    style="
                      background-color: #ffae00fd;
                      color: white;
                      border-radius: 10px;
                    "
                  >
                    <b>Ubah</b>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SideBar from "./Sidebar.vue";
import NavBar from "./Navbar.vue";
import UserDataService from "../services/UserDataService";
import $ from "jquery";

export default {
  name: "users-list",
  components: {
    SideBar,
    NavBar,
  },
  data() {
    return {
      users: [],
      currentData: null,
      currentIndex: -1,
      successful: false,
      id: "",
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser["roles"]) {
        return this.currentUser["roles"].includes("ROLE_ADMIN");
      }
      return false;
    },
  },
  methods: {
    getUser(id) {
      UserDataService.get(id)
        .then((response) => {
          this.currentData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    updateUser() {
      UserDataService.update(this.currentData.id, this.currentData)
        .then((response) => {
          this.$router.push("/users");
        })
        .catch((e) => {
          console.log(e);
        });
    },
    deleteUser() {
      UserDataService.delete(this.currentData.id)
        .then((response) => {
          this.$router.push({ name: "users" });
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveUsers() {
      UserDataService.getAll()
        .then((response) => {
          this.users = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveusers();
      this.currentData = null;
      this.currentIndex = -1;
    },
    setActiveUser(user, index) {
      this.currentData = user;
      this.currentIndex = index;
    },

    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },
  mounted() {
    this.retrieveUsers();

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
      });
    });

    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
@import "../assets/style/sidebar.css";
@import "../assets/style/table.css";
@import "../assets/style/userList.css";

.box {
  display: flex;
}

.full {
  padding: 20px;
  /* margin-top: -50px; */
}
.main {
  border: 1px solid none;
  width: 100%;
  height: 100vh;
}
.one {
  background-color: #e0e0e0;
}
.mar {
  margin-top: 100px;
}
</style>
