<template>
  <!-- TopBar -->
  <div class="box">
    <SideBar />
    <div class="main">
      <NavBar />
      <!-- Isi content -->
      <div class="full mar">
        <div class="container bg-white mt-5 mb-5 shadow">
          <!-- table title -->
          <div class="table-title">
            <div class="row">
              <div class="col-xl-10">
                <h2>
                  <i class="bi bi-pencil-square"></i>&nbsp;Edit <b>User</b>
                </h2>
              </div>
              <!-- button delete -->
              <div class="col-xl-2">
                <a style="cursor: pointer" class="delete">
                  <input
                    type="button"
                    class="hps"
                    value="Hapus Pengguna"
                    data-toggle="modal"
                    data-target="#deleteModal"
                  />
                </a>
              </div>
            </div>
          </div>
          <!-- form-edit -->
          <div v-if="currentData">
            <Form :validation-schema="schema">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="mb-1" for="namadepan"
                    ><h6 class="mb-0 text-sm">Nama Depan</h6>
                  </label>
                  <Field
                    type="text"
                    name="firstname"
                    id="namadepan"
                    v-model="currentData.namadepan"
                    class="form-control"
                    placeholder="Nama Depan"
                  />
                  <ErrorMessage
                    name="firstname"
                    class="ErrorMessage error-feedback"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="mb-1" for="namabelakang"
                    ><h6 class="mb-0 text-sm">Nama Belakang</h6>
                  </label>
                  <Field
                    type="text"
                    name="lastname"
                    id="namabelakang"
                    v-model="currentData.namabelakang"
                    class="form-control"
                    placeholder="Nama Belakang"
                  />
                  <ErrorMessage
                    name="lastname"
                    class="ErrorMessage error-feedback"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="username"
                    ><h6 class="mb-0 text-sm">Username</h6>
                  </label>
                  <Field
                    name="username"
                    type="text"
                    id="username"
                    v-model="currentData.username"
                    placeholder="Username"
                    class="form-control"
                  />
                  <ErrorMessage
                    name="username"
                    class="ErrorMessage error-feedback"
                  />
                </div>
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="email"
                    ><h6 class="mb-0 text-sm">Email</h6>
                  </label>
                  <Field
                    type="text"
                    name="email"
                    id="email"
                    v-model="currentData.email"
                    class="form-control"
                    placeholder="Email"
                  />
                  <ErrorMessage
                    name="email"
                    class="ErrorMessage error-feedback"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="alamat"
                    ><h6 class="mb-0 text-sm">Alamat</h6>
                  </label>
                  <Field
                    name="alamat"
                    type="text"
                    placeholder="Alamat"
                    id="alamat"
                    v-model="currentData.alamat"
                    class="form-control"
                  />
                  <ErrorMessage
                    name="alamat"
                    class="ErrorMessage error-feedback"
                  />
                </div>
                <div class="form-group col-md-6 mt-2">
                  <label class="mb-1" for="telepon"
                    ><h6 class="mb-0 text-sm">No. Telepon</h6>
                  </label>
                  <Field
                    name="telepon"
                    type="number"
                    placeholder="No. Telepon"
                    id="telepon"
                    v-model="currentData.telepon"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="form-group mt-2">
                <label class="mb-1" for="deskripsi"
                  ><h6 class="mb-0 text-sm">Deskripsi</h6>
                </label>
                <textarea
                  class="form-control"
                  type="textarea"
                  placeholder="Deskripsi"
                  id="deskripsi"
                  v-model="currentData.deskripsi"
                />
                <div class="container">
                  <hr />
                  <p class="judul-pick-picture">Pilih foto profil</p>
                </div>

                <!-- Select image -->
                <div class="container">
                  <div class="semua">
                    <div class="pilih-avatar">
                      <div class="frm">
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="satu"
                          name="pick-picture"
                          value="https://i.postimg.cc/zvHjrHjk/cat.png"
                        />
                        <label for="satu">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/zvHjrHjk/cat.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="dua"
                          name="pick-picture"
                          value="https://i.postimg.cc/8PByPMGy/dog.png"
                        />
                        <label for="dua" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/8PByPMGy/dog.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="tiga"
                          name="pick-picture"
                          value="https://i.postimg.cc/8PHHVGd9/fox.png"
                        />
                        <label for="tiga" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/8PHHVGd9/fox.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="tiga1"
                          name="pick-picture"
                          value="https://i.postimg.cc/4x2Qm1S1/gajah.png"
                        />
                        <label for="tiga1" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/4x2Qm1S1/gajah.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="empat"
                          name="pick-picture"
                          value="https://i.postimg.cc/9M5T7gty/keju.png"
                        />
                        <label for="empat" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/9M5T7gty/keju.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="lima"
                          name="pick-picture"
                          value="https://i.postimg.cc/zBvmTpzX/kelinci.png"
                        />
                        <label for="lima" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/zBvmTpzX/kelinci.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          type="radio"
                          id="enam"
                          name="pick-picture"
                          value="https://i.postimg.cc/ZqF36Ffg/manok.png"
                        />
                        <label for="enam" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/ZqF36Ffg/manok.png"
                          />
                        </label>
                      </div>
                      <div>
                        <Field
                          v-model="currentData.gambar"
                          class="margin-foto"
                          type="radio"
                          id="tuju"
                          name="pick-picture"
                          value="https://i.postimg.cc/ZqM9878w/panda.png"
                        />
                        <label for="tuju" class="gambar-profile">
                          <img
                            class="rounded-circle gambar-profile"
                            style="width: 100px; height: 100px"
                            src="https://i.postimg.cc/ZqM9878w/panda.png"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </Form>
            <!-- modal-footer -->
            <div class="modal-footer">
              <!-- button edit -->
              <a href="/users">
                <button
                  type="button"
                  style="color: white; border-radius: 10px"
                  class="btn btn-danger"
                >
                  Batal
                </button></a
              >
              <button
                type="submit"
                class="btn"
                @click="updateUser"
                style="
                  background-color: #ffae00fd;
                  color: white;
                  border-radius: 10px;
                "
              >
                <b>Simpan</b>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL HAPUS  -->
      <div
        v-if="currentData"
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Hapus Pengguna</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Apakah kamu yakin ingin menghapus pengguna ini</p>
              <p class="text-warning">
                <small
                  >pengguna yang dihapus tidak akan bisa dikembalikan</small
                >
              </p>
            </div>
            <!-- button delete modal  -->
            <div class="modal-footer">
              <button
                type="button"
                style="
                  background-color: #ffae00fd;
                  color: white;
                  border-radius: 10px;
                "
                class="btn"
                data-dismiss="modal"
              >
                Batal
              </button>
              <a
                href="/users"
                @click="deleteUser"
                type="button"
                class="btn"
                style="
                  background-color: #f44336;
                  color: white;
                  border-radius: 10px;
                "
              >
                <b>Hapus</b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserDataService from "../services/UserDataService";
import SideBar from "./Sidebar.vue";
import NavBar from "./Navbar.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import $ from "jquery";

export default {
  name: "user-details",
  components: {
    SideBar,
    NavBar,
    Form,
    Field,
    ErrorMessage,
  },

  data: () => ({
    time: "",
    date: "",
  }),

  mounted() {
    this.currentUser = JSON.parse(localStorage.getItem("user"));
    this.message = "";
    this.getUser(this.$route.params.id);

    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
      });
    });
  },

  data() {
    // validasi form
    const schema = yup.object().shape({
      firstname: yup
        .string()
        .required("Nama Depan harus diisi!")
        .min(3, "Minimal 3 karakter!")
        .max(20, "Maksimal 20 karakter!"),
      lastname: yup
        .string()
        .required("Nama Belakang harus diisi!")
        .min(3, "Minimal 3 karakter!")
        .max(20, "Maksimal 20 karakter!"),
      username: yup
        .string()
        .required("Username harus diisi!")
        .min(4, "Minimal 4 karakter!")
        .max(20, "Maksimal 20 karakter!"),
      email: yup
        .string()
        .required("Email harus diisi!")
        .email("Email harus sertakan '@gmail.com'!")
        .max(50, "Maksimal 50 karakter!"),
      password: yup
        .string()
        .required("Password harus diisi!")
        .min(8, "Minimal 8 karakter!"),
      alamat: yup
        .string()
        .required("Alamat harus diisi!")
        .min(4, "Minimal 4 karakter!"),
      gambar: yup
        .string()
        .required("URL Gambar harus diisi!")
        .min(4, "Minimal 4 karakter!"),
    });
    return {
      currentData: null,
      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },
  methods: {
    printDate: function () {
      return new Date().toLocaleDateString();
    },
    printTime: function () {
      return new Date().toLocaleTimeString();
    },
    getUser(id) {
      UserDataService.get(id)
        .then((response) => {
          this.currentData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    // update user
    updateUser() {
      var data = {
        email: this.currentUser.email,
        waktu: this.printDate() + " " + this.printTime(),
        keterangan: " Telah memperbaharui akun user",
        username: this.currentData.username,
      };
      UserDataService.create(data)
        .then((response) => {
          this.currentUser.id = response.data.id;
        })
        .catch((e) => {
          console.log(e);
        });
      UserDataService.update(this.currentData.id, this.currentData)
        .then((response) => {
          this.$swal({
            icon: "success",
            title: "Berhasil",
            text: "Selamat anda berhasil mengubah profil",
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false,
          });
          this.$router.push("/users");
        })
        .catch((e) => {
          console.log(e);
        });
    },
    // hapus user
    deleteUser() {
      UserDataService.delete(this.currentData.id)
        .then((response) => {
          this.$router.push({ name: "users" });
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style>
@import "../assets/style/profile.css";

.box {
  display: flex;
}
.full {
  padding: 20px;
  margin-top: -50px;
}

.main {
  border: 1px solid none;
  width: 100%;
  height: 100vh;
}
.ErrorMessage {
  color: red;
}
.hps {
  margin-left: -10px;
  background-color: #f44336;
  border-radius: 10px;
  border: none;
  height: 40px;
  color: white;
}
.mar {
  margin-top: 50px;
}
</style>
